<div class="container-header">
  <h1>My Profile</h1>
</div>

<h2>My requests</h2>
<ol>
  <% @records.each do |record| %>
    <li><%= link_to(record.service_id, "http://servicetracker.cityofchicago.org/requests/#{record.service_id}") %></li>
  <% end %>
</ol>