<div class="container-header">
  <h1>My Profile</h1>
</div>

<h2>My requests</h2>
<% if @records.empty? %>
  <p>You have not submitted a request</p>
  <p><%= link_to("Click here to make a new request", new_request_path) %></p>
<% end %>
<ol>
  <% @records.each do |record| %>
    <% request = Request.find_by_token(record.token) %>
    <li><%= link_to(request.type_of_service_request, request_path(request.id)) %> on <%= request.creation_date.strftime("%m/%d/%Y") %></li>
  <% end %>
</ol>