<h1>Most Recent Potholes Request</h1>
<ol class="show-requests">
  <% @potholes.each do |pothole| %>
    <li>
      <%= link_to(pothole.street_address, request_path(pothole.id)) %>
      <span>reported on
      <%= pothole.creation_date.strftime("%m/%d/%Y") %></span>
    </li>
  <% end %>
</ol>
<%= will_paginate @requests, class: 'digg_pagination' %>

<div class="map-list-toggle">
  <div class="btn"><%= link_to("List View", potholes_path) %></div>
  <div class="btn">Map View</div>
</div>
