<div class="welcome-notice">
  <h3>If this is an emergency, please call 911</h3>
  <h1><span class="frontpage">SHINE</span><span class="the">the</span><span class="frontpage">CHI</span></h1>
  <h2>Make official 311 service request from anywhere</h2>
</div>

<div>
  <%= link_to("New Request", new_requests_path, method: 'get', class: "index-buttons btn btn-lg btn-default") %>
  <%= link_to("Requests List", requests_path, method: 'get', class: "index-buttons btn btn-lg btn-default") %>
  <%= link_to("Requests Map", map_requests_path, method: 'get', class: "index-buttons btn btn-lg btn-default") %>
</div>
