<div class="welcome-notice">
  <h1>Welcome to First Responder!</h1>
  <h2>Make official 311 service request from anywhere. </h2>
</div>

<div>
  <%= link_to("New Report", new_requests_path, method: 'get', class: "btn btn-lg btn-default") %>
  <%= link_to("View Reports", requests_path, method: 'get', class: "btn btn-lg btn-default") %>
</div>