<div id="map-header-text">
  Please mark the location of your complaint
</div>
<script src="https://maps.googleapis.com/maps/api/js"></script>
<div id="big-map-div">
  <div id="map-canvas"></div>
  <div class="map-button">
      <%= button_to "Mark Location", {url: "#", method: 'post'}, {id: 'map-submit-button', class: "btn btn-lg btn-default"} %>
  </div>
</div>

