<h1>Most Recent Service Requests</h1>

<%= render partial: 'partials/list_category', locals: {requests: @requests} %>

<div class="map-list-toggle">
  <div class="btn"><%= link_to("List View", all_requests_path) %></div>
  <div class="btn"><%= link_to("Map View", action: "map") %></div>
</div>