<div id="request-list">
  <div class="table-responsive" id="no-more-tables">
    <table class="table">
      <thead>
        <tr>
          <th>Type of Service Request</th>
          <th>Street Address</th>
          <th>Creation Date</th>
          <th>Status</th>
  
        </tr>
      </thead>
      <% @requests.each do |request| %>
        <tr>
          <td><%= link_to(request[:service_name], request_path(request)) %></td>
          <td><%= "#{request[:address]}" %></td>
          <td><%= request[:requested_datetime].strftime("%m/%d/%Y") %></td>
          <td><%= request[:status] %></td>
          
        </tr>
      <% end %>
    </table>
  </div>
</div>

