<div id="big-map-div">
<div id="map-canvas"></div>
<div class="button" data-category=<%=@category%>>
  <div id="submit-button">
    <%= button_to "Mark Location", requests_path, method: 'post', id: 'submit-button' %>
  </div>
</div>
</div>
