
<html>
  <head>
    <br><br>
    <style>
      #totally-different-map {
        width: 500px;
        height: 400px;
      }
    </style>
    <span1><%= @requests.first[:latitude]%></span1> 
    <span2><%=@requests.first[:longitude]%></span2>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
	    <%= javascript_tag "var latitude = #{@requests.first[:latitude].to_json}" %>
	    <%= javascript_tag "var longitude = #{@requests.first[:longitude].to_json}" %>
    <script>

      function initialize() {
        var mapCanvas = document.getElementById('totally-different-map');
        var differentMapOptions = {
          center: new google.maps.LatLng(41.889797, -87.637756),
          zoom: 14,
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          tilt: 0
        }

        var map = new google.maps.Map(mapCanvas, differentMapOptions)
      }
      google.maps.event.addDomListener(window, 'load', initialize);


      var marker;
			function createMarker(coords, map, title){
			  marker = new google.maps.Marker({
			    position: coords,
			    map: map,
			    title: title
			  });
			}
      // can I plot point from 311

    </script>
  </head>
  <body>
    <div id="totally-different-map"></div>
  </body>
</html>
<!--       //  add_column :requests, :latitude, :string
    	// remove_column :requests, 'Longitude'
    	// add_column :requests, :longitude, :string
      // first plot one point from db
      // @request[:service_request_number]
 -->
