// Place all the styles related to the session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, .container-fluid {
  background-color: #E6E6E6;
}

#map-canvas {
  width: 500px;
  height: 350px;
  background-color: #CCC;
  margin: 0 auto;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}

#map-header-text {
  margin-top: -10%;
  font-weight: bold;
  margin-bottom:2%;
}

.centerMarker {
    position: absolute;
    background:url('http://maps.gstatic.com/mapfiles/markers2/marker.png') no-repeat;
    top:50%;left:50%;
    z-index:1;
    margin-left: -10px;
    margin-top:-34px;
    height:34px;
    width:20px;
    cursor:pointer;
}

@media (min-width: 768px) {
  .navbar-nav > li {
    margin-left: 5px;
  }

  #map-header-text {
    margin-top: -3%;
    text-align: center;
    font-size: 1.5em;
  }

  #map-canvas {
    height: 700px;
    margin-top: 0;
    margin-bottom: 3%;
  }
}

#landing-page {
  margin-top: 5%;
  height:90vh;
}

.btn-default {
  margin-left:10%;
  width:80%;
  height:30%;
}

.body-container {
  margin-top: 6em;
}


#map-submit-button {
  height:5em;
}


input.submit{
  background:none;
  border:none;
  font-size:1em;
}

#error-messages {
  color:red;
}

table {
  table-layout: fixed;
}

#form-header {
  font-weight:bold;
}

#contact-header {
  border-top:1px solid #777777
}

