// Place all the styles related to the session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, .container-fluid {
  background-color: #E6E6E6;
}

* {
  font-size: 15px;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.3em;
}


a:link, a:visited {
  color: #00B7F7;
}

a:hover {
  color: #ED1B24;
}

#new-report-header {
  font-weight:bold;
  text-align:center;
  margin-top: -15%;
  margin-bottom: -12%;
  margin-left: 15%;

  h1 {
    font-size: 1.1em;
  }
}

#new-report-header span {
  font-size:0.75em;
  color:red;
}

div.request-select input {
  width:150px;
  height: 140px;
  margin: 0 auto;
  padding: 0 auto;
}

#map-canvas {
  width: 500px;
  height: 350px;
  background-color: #CCC;
  margin: 0 auto;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}

#map-header-text {
  margin-top: -10%;
  font-weight: bold;
  margin-bottom:2%;
}

.centerMarker {
    position: absolute;
    background:url('http://maps.gstatic.com/mapfiles/markers2/marker.png') no-repeat;
    top:50%;left:50%;
    z-index:1;
    margin-left: -10px;
    margin-top:-34px;
    height:34px;
    width:20px;
    cursor:pointer;
}

@media (min-width: 768px) {
  .navbar-nav > li {
    margin-left: 5px;
  }

  #map-header-text {
    margin-top: -3%;
    text-align: center;
    font-size: 1.5em;
  }

  #map-canvas {
    height: 700px;
    margin-top: 0;
    margin-bottom: 3%;
  }
}


@media (max-width: 768px) {
  /* Force table to not be like tables anymore */
  #no-more-tables table,
  #no-more-tables thead,
  #no-more-tables tbody,
  #no-more-tables th,
  #no-more-tables td,
  #no-more-tables tr {
    display: block;
    border: 0;
  }
  #no-more-tables thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  #no-more-tables tr:nth-child(odd) {
    background-color: white;
  }
  #no-more-tables tr td:nth-child(1) {
    font-weight: bold;
  }
}


@media only screen and (min-width : 320px) {
  .row  {
  margin-top: 30px;
  margin-bottom: 30px
  }

  .btn {
      padding: 14px 24px;
      border: 0 none;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: uppercase;
  }

  .btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
  }

  .btn-primary {
      background: #0099cc;
      color: #ffffff;
  }

  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
  }

  .btn-primary:active, .btn-primary.active {
      background: #007299;
      box-shadow: none;
  }

}

#landing-page {
  margin-top: 5%;
  height:90vh;
}

.btn-default {
  margin-left:10%;
  width:80%;
  height:30%;
}

.body-container {
  margin-top: 6em;
}


#map-submit-button {
  height:5em;
}


input.submit{
  background:none;
  border:none;
  font-size:1em;
}

#error-messages {
  color:red;
}

table {
  table-layout: fixed;
}

#form-header {
  font-weight:bold;
  font-size: 20px;
}

#contact-header {
  border-top:1px solid #777777
}

#report-new {
  padding-right: 15%;
}
