<div>
  <%= link_to("New Report", new_requests_path, method: 'get', class: "btn btn-lg btn-default") %>
  <%= link_to("View Reports", root_path, method: 'get', class: "btn btn-lg btn-default") %>
</div>